@use "../../variables.scss" as *;

.tag {
  display: grid;
  place-items: center;
  min-width: 115px;
  height: 25px;
  padding: 0 10px;
  background-color: $clr-primary;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .tag {
    font-size: 12px;
    border-radius: 10px;
    min-width: 85px;
  }
}

@media (max-width: 576px) {
  .tag {
    font-size: 10px;
    border-radius: 10px;
    min-width: 85px;
  }
}
