.main {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1024px) {
  .main {
    padding: 0 70px 32px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 50px 24px;
    gap: 25px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0;
    padding-bottom: 20px;
    gap: 20px;
  }
}
