.hero {
  height: 223px;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;

  &.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 192px;

    h1 {
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 162px;
    margin-block: 34px 32px;
    border-radius: 15px;

    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    height: 111px;
    margin-block: 27px 22px;
    border-radius: 10px;
    justify-items: start;
    box-shadow: none;

    h1 {
      font-size: 24px;
      max-width: 225px;
    }
  }
}
